<% json = investigation.contents_raw %>
<% vehicles = Array(json["cm_vehicles"]) %>
<%
  title = vehicles.map { |v| v["registrationNumber"] }.join(", ")
%>

<h3><%= title %></h3>

<ul>

  <li>
    <strong>Location:</strong>
    <%=
      [
        json["cm_city"],
        json["cm_state"],
        json["cm_country"]
      ].compact.join(", ")
    %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= DateTime.parse(json["cm_eventDate"]).strftime("%m/%d/%Y") %>
  </li>

  <li>
    <strong>Details:</strong>
    <% vehicles.each do |vehicle| %>
      <%= vehicle["registrationNumber"] %> - 
      <% if (first_event = Array(vehicle["cm_events"]).first) %>
        <%= first_event["cicttEventSOEGroup"] %>
      <% end %> /
      <% if (injuries = Array(vehicle["cm_injuries"]).first) %>
        <%= injuries["cm_crew_Fatal"] %> Fatal,
        <%= injuries["cm_crew_Serious"] %> Serious,
        <%= injuries["cm_crew_None"] %> None
      <% end %>
      <br>
    <% end %>
  </li>

  <% if json["cm_probableCause"] %>
    <li>
      <strong>Probable Cause:</strong>
      <%= json["cm_probableCause"] %>
    </li>
  <% end %>

  <% if investigation.most_recent_report_type.present? %>
    <li>
      <strong>Report URL:</strong>
      <a href="<%= investigation.report_url %>" target="_blank" rel="noopener noreferer">Download <%= investigation.most_recent_report_type %> Report</a> (Dated <%= investigation.recent_report_publish_date %>)
    </li>
  <% end %>
</ul>
