<% json = investigation.contents_raw %>
<% vehicles = Array(json["cm_vehicles"]) %>
<%
  title = vehicles.map { |v| v["registrationNumber"] }.join(", ")
%>

<h3><%= title %></h3>

<ul>

  <li>
    <strong>Location:</strong>
    <%=
      [
        json["cm_city"],
        json["cm_state"],
        json["cm_country"]
      ].compact.join(", ")
    %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= DateTime.parse(json["cm_eventDate"]).strftime("%m/%d/%Y") %>
  </li>

  <li>
    <strong>Details:</strong>
    <% vehicles.each do |vehicle| %>
      <%= vehicle["registrationNumber"] %> - 
      <% if (first_event = Array(vehicle["cm_events"]).first) %>
        <%= first_event["cicttEventSOEGroup"] %>
      <% end %>
      /
    <% end %>
    <%
      injuries_fatal = json.fetch("cm_injury_onboard_Fatal", 0) + json.fetch("cm_injury_onground_Fatal", 0)
      injuries_serious = json.fetch("cm_injury_onboard_Serious", 0) + json.fetch("cm_injury_onground_Serious", 0)
      injuries_minor = json.fetch("cm_injury_onboard_Minor", 0) + json.fetch("cm_injury_onground_Minor", 0)
      injuries_none = json.fetch("cm_onboard_None", 0)
    %>
    <%= safe_join([
      (content_tag(:span, "#{injuries_fatal} Fatal", class: "injuries--fatal") if injuries_fatal > 0),
      (content_tag(:span, "#{injuries_serious} Serious", class: "injuries--serious") if injuries_serious > 0),
      (content_tag(:span, "#{injuries_minor} Minor", class: "injuries--minor") if injuries_minor > 0),
      (content_tag(:span, "#{injuries_none} None", class: "injuries--none") if injuries_none > 0),
    ].compact, ", ") %>
    <br>
  </li>

  <% if json["cm_probableCause"] %>
    <li>
      <strong>Probable Cause:</strong>
      <%= json["cm_probableCause"] %>
    </li>
  <% end %>

  <% if investigation.most_recent_report_type.present? %>
    <li>
      <strong>Report URL:</strong>
      <a href="<%= investigation.report_url %>" target="_blank" rel="noopener noreferer">Download <%= investigation.most_recent_report_type %> Report</a> (Dated <%= investigation.recent_report_publish_date %>)
    </li>
  <% end %>
</ul>
